<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chengming.demo.infrastructure.data.mapper.StudentFamilyArchiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.chengming.demo.infrastructure.data.object.StudentFamilyArchiveDO">
        <result column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="archive_name" property="archiveName" />
        <result column="archive_desc" property="archiveDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, archive_name, archive_desc
    </sql>

</mapper>
